.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.input-text {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
  font-size: 15px;
  border: none;
  background-color: #fff;
  border-radius: 5px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}


.menu-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.menu-item {
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
  font-size: 15px;
  margin-bottom: 5px;
  background-color: #eee;
}

.menu-item.selected {
  background-color: #66b3ff;
  color: #fff;
}

.selection-summary {
  margin-bottom: 10px;
}

.total {
  font-size: 24px;
  font-weight: bold;
}
