.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  background-color: #f3f3f3;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px; 
  width: 600px;
}

.input-text {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  text-align: right;
  font-size: 18px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}


.menu-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}

.menu-item {
  width: 100%;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid black;
  font-size: 18px;
  margin-bottom: 5px;
  background-color: #eee;
  color: black;
}

.menu-item.color1 {
  background-color: rgb(110, 216, 220);
}
.menu-item.color2 {
  background-color: rgb(150, 218, 219);
}
.menu-item.color3 {
  background-color: rgb(198, 221, 222);
}
.menu-item.color4 {
  background-color: rgb(253, 225, 225);
}
.menu-item.color5 {
  background-color: rgb(254, 210, 210);
}
.menu-item.color6 {
  background-color: rgb(255, 195, 195);
}




.menu-item.selected {
  background-color: #66b3ff;
  color: #fff;
}

.selection-summary {
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 600px;
}

.selected-menu {
  background-color: #66b3ff;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

.total {
  font-size: 30px;
  font-weight: bold;
}
